.navigation {
  position: fixed;
  margin: 0 0.6rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

.nav-element {
  display: block;
  padding: 0.2rem 0;
  font-size: 0.9rem;
}

.nav-element>div {
  border: 2px solid #666;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
}

.nav-text {
  float: right;
  color: transparent;
  position: relative;
  top: -100%;
  left: -0.4rem;
  height: inherit;
}

.nav-element>div:hover, .nav-element>div.active {
  background-color: #666;
}

.nav-element>div:hover .nav-text {
  color: #666;
  transition: 0.2s ease-in;
  left: -1rem;
}
