.navigation {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.navigation ul {
  list-style-type: none;
  margin: 0 1rem;
  padding: 0;
}

.nav-element>a {
  cursor: poainter;
  display: inline-block;
  border: 2px solid #FFF;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
}

.nav-element a:hover, .nav-element a.active {
  background-color: #FFF;
}
