.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.section:nth-child(2n) {
  background: #EEE;
}

.section:nth-child(2n + 1) {
  background: #FAFAFA;
}
